h2 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
  }
  
  a {
    display: block;
    text-decoration: none;
    color: #fecb00;
    margin-bottom: 12px;
  }
  
  body {
    background-color: #111;
  }
  
