@font-face {
    font-family: Lato;
    src: url("assets/fonts/Lato-Regular.ttf");
   }

* {
    box-sizing: border-box;
  }

.header{
  border: 1px solid red
}

.main{
    border: 1px solid red
}

.footer{
    border: 1px solid red
}

body {
    font-family: 'Lato';
    min-height: 100vh;
    display: flex;
    margin: 0; 
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}