@font-face {
    font-family: Lato;
    src: url("assets/fonts/Lato-Regular.ttf");
   }

* {
    box-sizing: border-box;
  }

.header{
  border: 1px solid red
}

.main{
    border: 1px solid red
}

.footer{
    border: 1px solid red
}

body {
    font-family: 'Lato';
    min-height: 100vh;
    display: flex;
    margin: 0; 
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth; 
  }

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0 20px;
    line-height: 50px;
    background-color:darkslategray;
  }

.nav-link {
    position: relative;
    padding: 0 12px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    color: rgb(71, 6, 190);
  }

.nav-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .nav-item a:hover {
    color: #4d2323;
  }

  .section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #1536f3;
  }

  .section {
    width: calc(50% - 20px);
    padding: 10px;
    padding-bottom: 35px;
    border-bottom: 1px solid #672f2f;
}